.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--blitter-background);
  padding-bottom: 10px;
  margin-top: 50px;
}

.post__img {
  border-radius: 20px;
  width: 90%;
}
.post__body {
  width: 90%;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post__description {
  display: flow-root;
  overflow: inherit;
  max-width: 50ch;
}

.ethereum__address {
  text-decoration: none !important;
  font-size: 14px;
  color: var(--blitter-color);
  font-weight: 700;
}

.post__badge {
  color: var(--blitter-color) !important;
  font-size: 17px !important;
}

.post__username {
  font-weight: 600;
  font-size: 14px;
  color: grey;
}

.post__moreIcon {
  padding-left: 300px;
}

.post__avatar {
  padding: 20px;
}
