.profile {
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: auto;
}

/* Hides scroll for Chrome and Opera*/
.profile::-webkit-scrollbar {
  display: none;
}

/* Hides scroll for Chrome and Opera*/
.profile::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.profile__header {
  position: sticky;
  top: 0;
  z-index: 100;
  border: 1px solid var(--blitter-background);
  background-color: white;
}

.profile__header > h2 {
  padding: 15px 20px;
}

.profile__header > img {
  width: 100%;
}

.profile__img {
  position: absolute;
  bottom: 1px;
  top: 11rem;
  left: 1rem;
  z-index: 0;
}

.profile__userdetails {
  padding-left: 20px;
  font-size: 14px;
}

.profile__userdetails > h3 {
  padding-left: 17px;
}

.profile__userdetails > p {
  display: inline-flex;
  padding: 15px;
}

.profile__avatar1 {
  width: 140px !important;
  height: fit-content !important;
  border: 4px solid white;
}

.birthday__icon {
  font-size: 18px !important;
  padding-right: 5px;
}

.editprofile__btn {
  border-radius: 20px !important;
  font-size: 14px !important;
  font-weight: bold !important;
  text-transform: none !important;
  margin-top: 10px !important;
  left: 35rem;
}

.profile__tabs {
  padding-left: 30px !important;
}

.profile__tab {
  padding-left: 30px !important;
  font-weight: bold !important;
}
