.feed {
  flex: 0.6;
  border-right: 1px solid var(--blitter-background);
  /* min-width: fit-content; */
  overflow-y: scroll;
}

/* Hides scroll for Chrome and Opera*/
.feed::-webkit-scrollbar {
  display: none;
}

/* Hides scroll for Chrome and Opera*/
.feed::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.feed__header {
  position: sticky;
  top: 0;
  z-index: 100;
  border: 1px solid var(--blitter-background);
  padding: 15px 20px;
}
